<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>Calender</title>
  </head>
  <body>
    <h1>Calender</h1>
    <h2><%= @beg_of_month.strftime("%B") %></h2>
    <table>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
      <tr>
      <% (@beg_of_month..@end_of_month).each do |i| %>
        <% if i == @beg_of_month %>
          <% i.wday.times do %>
              <td></td>
          <% end %>      
        <% end %>
        <% if i.wday == 0 %>
          </tr><tr>
        <% end %>
        <td><%= i.mday %></td>
      <% end %>
      </tr>
    </table>
  </body>
</html>

