<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Multiplication Table</title>
  </head>
<body>
<h1>Multiplication Table</h1>
<table>
  <% @x.each do |i| %>
    <tr>
      <% 12.times do |j| %>
        <td><%= i * (j + 1) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</body>
</html>