<h1>Email Sent Successfully</h1>

<h3>Message Details</h3>
<hr>
<p>Email Sent On: <span><%= @mail.date %></span></p>
<p>From: <span><%= @mail.from[0] %></span></p>
<p>Subject: <span><%= @mail.subject %></span></p>


